* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

nav {
    background-color: #f3c5c5;
    padding: 10px 20px;
    position: relative;
}

menu-toggle {
    display: none;
}

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburguer span {
    height: 4px;
    background-color: black;
    border-radius: 2px;
}

ul_menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul_menu li a {
    color: black;
    text-decoration: none;
}
